In [1]:
import pandas as pd
import numpy as np
from nltk import FreqDist
from nltk.tokenize import wordpunct_tokenize

In [2]:
year = 2013
df = pd.read_pickle(f'./Processed/{year}_stem.pkl')

In [8]:
test = list(set([item for item in wordpunct_tokenize(' '.join(df.resumo)) if len(item) > 2]))

In [9]:
len(test)

193278

In [10]:
freq = dict()

for character in test:
    freq[character] = {}
    for item in sorted(df.area_avaliacao.unique()):
        freq[character][item] = 0
        
    areas = df[df.resumo.str.contains(character)].area_avaliacao
    for item in sorted(areas.unique()):
        freq[character][item] = areas.value_counts()[item]
        
freq = pd.DataFrame(freq).transpose()

In [11]:
freq.sort_values(by='medicina ii', ascending=False).head(10)

,"administração pública e de empresas, ciências contábeis e turismo","administração, ciências contábeis e turismo",antropologia / arqueologia,arquitetura e urbanismo,"arquitetura, urbanismo e design",artes / música,astronomia / física,biodiversidade,biotecnologia,ciência da computação,...,nutrição,odontologia,planejamento urbano e regional / demografia,psicologia,química,saúde coletiva,serviço social,sociologia,teologia,zootecnia / recursos pesqueiros
ent,1848,168,296,33,473,570,703,1582,450,1011,...,194,1434,428,1289,970,1185,349,758,186,909
nte,1837,166,292,33,468,562,690,1577,444,993,...,188,1427,425,1279,965,1176,349,755,183,903
est,1840,169,281,33,466,558,689,1565,439,930,...,183,1422,425,1271,946,1180,346,728,172,881
men,1831,166,282,33,469,549,689,1560,446,996,...,187,1415,425,1276,955,1171,346,747,181,906
res,1821,166,257,30,423,510,652,1558,439,958,...,183,1412,402,1227,939,1147,337,677,172,880
ment,1826,166,279,33,468,544,685,1553,446,992,...,186,1412,424,1274,953,1170,346,742,178,906
ção,1827,167,296,33,472,570,644,1548,440,958,...,188,1425,428,1285,948,1127,349,732,185,905
tra,1802,164,278,32,448,543,687,1544,442,970,...,179,1407,411,1248,964,1160,346,737,175,876
con,1819,167,291,33,467,553,666,1538,432,966,...,181,1398,426,1275,920,1176,351,747,183,875
açã,1823,167,287,33,471,556,635,1531,435,951,...,186,1411,427,1280,945,1126,347,721,181,900

In [12]:
freq.to_pickle('./test.pkl')